header{
    width: 90%;
    height: 110px;
    border: solid;
    
    margin: auto;
    margin-top: 30px;
}
.titulo{
    margin: auto;
    padding-top: 15px;
    color: blue;
    text-transform: uppercase;
    padding-left: 10px;
    
    
}
header h4{
    padding-left: 30px;
    

}