header{
    width: 90%;
    height: 110px;
    border: solid;
    
    margin: auto;
    margin-top: 30px;
}
body{
   width: 75%;
    margin: auto;
}
.titulo{
    margin: auto;
    padding-top: 15px;
    color: blue;
    text-transform: uppercase;
    padding-left: 10px;
    
    
}
header h4{
    padding-left: 30px;
    

}
.botoes{
    padding-top: 20px;
    
}
.listaOrcamento{
    padding-top: 30px;
    margin: auto;
}
.listaOrcamento img{
    width: 50%;
    align-self: center;
    padding-top: 15px;
}
.cartao{
margin-top: 15px;
 
}